@CHARSET "UTF-8";
.group {
  margin-bottom: 10px;
}

.container {
  width: 100%;
  overflow: auto;
  margin-bottom: 0px;
}

.button {
  border-color: black;
  border-width: 2px;
  border-radius: 3px;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  background-color: #ada797;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}

a.button:link {color: #000;}
a.button:visited {color: #000;}
a.button:hover {color: #000;}
a.button:focus {color: #000;}
a.button:active {color: #000;}

.button.selected {
  background-color: #858074;
}

.event {
  margin-bottom: 25px;
}

.eventName {
  font-size: 20px;
  float: left;
  padding-right: 5px;
}

.infoText {
  font-weight: bold;
  float: left;
  margin-right: 5px;
}

.text {
  float: left;
  margin-right: 5px;
}

.icon {
  background-repeat: no-repeat;
  background-position: left top;
  height:16px;
  width: 16px;
  margin-right: 5px;
  float: left;
}

.info {
  background-image: url(../images/info.png);
}
.list {
  background-image: url(../images/list.png);
}
.new_character {
  background-image: url(../images/new_character.png);
}
.edit_character {
  background-image: url(../images/edit_character.png);
}
.delete_character {
  background-image: url(../images/delete_character.png);
}
.new_group {
  background-image: url(../images/group_new.png);
}
.edit_group {
  background-image: url(../images/edit_character.png);
}
.delete_group {
  background-image: url(../images/group_delete.png);
}
.show_group {
  background-image: url(../images/group.png);
}
.plot {
  background-image: url(../images/plot.png);
}
.delete_organizer {
  background-image: url(../images/delete_organizer.gif);
}
.edit_organizer {
  background-image: url(../images/edit_organizer.gif);
}